.apply {
  @include d-flex;
  &__photo {
    flex: 1 1 42rem;
    img {
      width: 100%;
    }
  }
  &__text {
    flex: 1 1 42rem;
    @include d-flex(start, start, column);

    gap: 3rem;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 2rem;
      color: $grey;
    }
    button {
      @include btn;
      padding: 1rem 3rem;
    }
  }
}
