.header__nav {
  @include d-flex(space-between);
  padding: 3rem 9%;
  img {
    width: 30%;
  }
  .menuBtn {
    display: none;
    font-size: 2.5rem;
    color: $primary-color;
    &:hover {
      color: black;
      transform: rotate(90deg);
    }
  }
  &__menu {
    @include d-flex;
    gap: 2rem;

    div {
      @include d-flex;
      gap: 1rem;
      font-size: 1.5rem;
      .phone {
        color: $primary-color;
      }
    }
    button {
      @include btn;
    }
  }
}
.header {
  background-color: $primary-color;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  &__content {
    @include d-flex;
    &__text {
      flex: 1 1 42rem;
      color: $white;
      h1 {
        font-size: 4.5rem;
      }
      p {
        font-weight: 400;
        font-size: 1.8rem;
        padding: 5rem 0;
      }
      &__input {
        width: max-content;
        border-radius: 40rem;

        background-color: #fff;

        input {
          padding: 1rem 4rem;
          border-radius: 40rem;
        }
        button {
          padding: 1rem 3rem;
          border-radius: 40rem;
          background-color: orange;
          color: $white;
          &:hover {
            box-shadow: inset 0 0 100rem #fff;
            color: orange;
            border: 1px solid orange;
          }
        }
      }
    }
    &__photo {
      flex: 1 1 42rem;
      padding: 5rem 0;
      img {
        width: 100%;
      }
    }
  }
  &__boxes {
    padding: 3rem 0;
    @include d-flex;
    gap: 3rem;
    &__box {
      @include d-flex;
      border-radius: 30px;
      gap: 1rem;
      background-color: $white;
      padding: 1rem 2rem;
      &:hover {
        box-shadow: 2px 2px 10px #700f00, -2px -2px 10px #ffccc4;
      }
    }
  }
}
