.hola {
  &__title {
    text-align: center;
    @include d-flex(center, center, column);
    padding: 5rem 5rem;

    h1 {
      font-size: 4rem;
      font-weight: 700;
    }
    p {
      font-size: 2rem;
    }
  }
  &__content {
    @include d-flex;

    gap: 2rem;
    &__photo {
      flex: 1 1 42rem;
      img {
        width: 100%;
      }
    }
    &__text {
      flex: 1 1 42rem;
      @include d-flex(start, start, column);
      img {
        padding: 3rem 0;
      }
      p {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 30px;
      }
      h3 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 34px;
        color: #e24329;
      }
      div {
        @include d-flex;
        gap: 3rem;
        i {
          font-size: 2rem;
          color: $white;
          @include d-flex;
          width: 5rem;
          height: 5rem;
          background-color: $primary-color;
          &:hover {
            background-color: $white;
            color: $primary-color;
            border: 1px solid $primary-color;
          }
        }
      }
    }
  }
}
