@mixin grid($val) {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 3rem;
}
@mixin btn {
  padding: 1rem 1.7rem;
  background-color: $primary-color;
  color: $white;
  border-radius: 10rem;
  transition: 0.22s linear;
  &:hover {
    box-shadow: inset 0 0 100rem #fff;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}
@mixin d-flex($j-s: center, $a-i: center, $f-d: row) {
  display: flex;
  justify-content: $j-s;
  align-items: $a-i;
  flex-direction: $f-d;
}
@mixin f-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
$primary-color: #e24329;
$grey: #0005;
$black: #000;
$white: #fff;
